<!--
  ***** BASIC ROW *****
-->

<h2>Basic Row</h2>

<div fxLayout="row"
>
  <mat-card>
    <p>
      1
    </p>
  </mat-card>
  <mat-card>
    <p>
      2
    </p>
  </mat-card>
  <mat-card>
    <p>
      3
    </p>
  </mat-card>
  <mat-card>
    <p>
      4
    </p>
  </mat-card>
</div>

<!--
  ***** BASIC COLUMN *****
-->

<h2>Basic Column</h2>

<div fxLayout="column"
>
  <mat-card>
    <p>
      1
    </p>
  </mat-card>
  <mat-card>
    <p>
      2
    </p>
  </mat-card>
  <mat-card>
    <p>
      3
    </p>
  </mat-card>
  <mat-card>
    <p>
      4
    </p>
  </mat-card>
</div>

<!--
  ***** REVERSED ROW *****
-->

<h2>Reversed Row</h2>

<div fxLayout="row-reverse"
>
  <mat-card>
    <p>
      1
    </p>
  </mat-card>
  <mat-card>
    <p>
      2
    </p>
  </mat-card>
  <mat-card>
    <p>
      3
    </p>
  </mat-card>
  <mat-card>
    <p>
      4
    </p>
  </mat-card>
</div>

<!--
  ***** REVERSED COLUMN *****
-->

<h2>Reversed Column</h2>

<div fxLayout="column-reverse"
>
  <mat-card>
    <p>
      1
    </p>
  </mat-card>
  <mat-card>
    <p>
      2
    </p>
  </mat-card>
  <mat-card>
    <p>
      3
    </p>
  </mat-card>
  <mat-card>
    <p>
      4
    </p>
  </mat-card>
</div>


<!--
  ***** BASIC COLUMN CONTENT CENTERED *****
-->

<h2>Basic Column Content Centered</h2>

<div fxLayout="column"
     fxLayoutAlign="start stretch"
>
  <mat-card fxLayoutAlign="center">
    <p>
      1
    </p>
  </mat-card>
  <mat-card fxLayoutAlign="center">
    <p>
      2
    </p>
  </mat-card>
  <mat-card fxLayoutAlign="center">
    <p>
      3
    </p>
  </mat-card>
  <mat-card fxLayoutAlign="center">
    <p>
      4
    </p>
  </mat-card>
</div>

<!--
  ***** REVERSED COLUMN CONTENT CENTERED *****
-->

<h2>Reversed Column Content Centered</h2>

<div fxLayout="column-reverse"
     fxLayoutAlign="start stretch"
>
  <mat-card fxLayoutAlign="center">
    <p>
      1
    </p>
  </mat-card>
  <mat-card fxLayoutAlign="center">
    <p>
      2
    </p>
  </mat-card>
  <mat-card fxLayoutAlign="center">
    <p>
      3
    </p>
  </mat-card>
  <mat-card fxLayoutAlign="center">
    <p>
      4
    </p>
  </mat-card>
</div>

