<div fxLayout="column"
     fxLayoutAlign="start center"
     class="main-content"
>
  <mat-card>
    <div fxLayout="row"
         fxLayoutAlign="start end"
    >

      <h1 fxFlex fxFlexAlign="center">
        Welcome to the Angular Flex Layout with Flexbox refresher course!
      </h1>
    </div>
    <div fxLayout="row"
         fxLayoutAlign="start end"
    >
      <p fxFlex fxFlexAlign="center">
        After you complete this course you will be fully capable of creating beautiful, responsive layouts in Angular.
      </p>
    </div>
    <div fxLayout="row"
         fxLayoutAlign="start end"
    >
      <p fxFlex fxFlexAlign="center">
        To choose the component you want to work on, just select it using the button above.
      </p>
    </div>
  </mat-card>

</div>
