<br>
<h2>1. Change layout when resizing window</h2>


<div class="container"
   fxLayout="column"
   fxLayout.gt-sm="row"

>
  <mat-card fxFlex="12 1 50%">
    <p>
      During our time as researchers, we noticed that some QDAS are feature-rich but highly unintuitive,
      often requiring days or weeks just to get started.
    </p>
  </mat-card>

  <mat-card fxFlexOrder="-1" fxFlex="1 1 25%">
    <p>
      Access anywhere & anytime - Share with collaborators seamlessly
    </p>
  </mat-card>

  <mat-card fxFlex="1 1 25%">
    <p>
      Access anywhere & anytime - Share with collaborators seamlessly
    </p>
  </mat-card>
</div>



<br><br>

<h2>2. Hide/Show column when resizing window</h2>


<div
  class="container"
  fxLayout="row"
  fxLayoutAlign="center"
>
  <mat-card fxFlex="12 1 50%">
    <p>
      During our time as researchers, we noticed that some QDAS are feature-rich but highly unintuitive,
      often requiring days or weeks just to get started.
    </p>
  </mat-card>

  <mat-card fxFlexOrder="-1" fxFlex="1 1 25%" fxHide fxHide.gt-xs="false"> <!--One way to show the column-->
    <p>
      Access anywhere & anytime
    </p>
  </mat-card>

  <mat-card fxFlex="1 1 25%" fxHide fxShow.gt-sm><!--Another way to show the column-->
    <p>
      Access anywhere & anytime
    </p>
  </mat-card>
 </div>


<br><br>

<h2>3. Change column width when resizing window</h2>

<div
  class="container"
  fxLayout="row"
>
  <mat-card
  fxFlex="12 1 34%"
  fxFlex.sm="60%"
  fxFlex.xs="30%"
  >
    <p class="smaller-font">
      <!-- Smaller font is used to prevent content from flooding the container,
      the way to change font size dynamically will be introduced in the next section. -->
      During our time as researchers, we noticed that some QDAS are feature-rich but highly unintuitive
    </p>
  </mat-card>

  <mat-card
  fxFlexOrder="-1"
  fxFlex="1 1 33%"
  fxFlex.sm="20%"
  fxFlex.xs="35%"

  >
    <p  class="smaller-font">
      Access anywhere & anytime
    </p>
  </mat-card>

  <mat-card
  fxFlex="1 1 33%"
  fxFlex.sm="20%"
  fxFlex.xs="35%"
  >
    <p class="smaller-font">
      Access anywhere & anytime
    </p>
  </mat-card>
 </div>



<br><br>

<h2>4. Toggle different class when resizing window</h2>

<div
  class="container"
  fxLayout="row"

>
  <mat-card
  fxFlex="12 1 50%"

  >
    <p
      ngClass.sm="yellow"
      ngClass.xs="orange"
    >
      During our time as researchers, we noticed that some QDAS are feature-rich but highly unintuitive,
      often requiring days or weeks just to get started (much less do anything).
    </p>
  </mat-card>

  <mat-card fxFlexOrder="-1" fxFlex="1 1 25%">
    <p
      ngClass.sm="yellow"
      ngClass.xs="orange"
    >
      Access anywhere & anytime - Share with collaborators seamlessly
    </p>
  </mat-card>

  <mat-card fxFlex="1 1 25%">
    <p
      ngClass.sm="yellow"
      ngClass.xs="orange"
    >
      Access anywhere & anytime - Share with collaborators seamlessly
    </p>
  </mat-card>
 </div>

