.container {
	height: 100vh;
	margin: 0;
	text-align: center;
 	background: #01ab45; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(#01ab45, #c7e800); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#01ab45, #c7e800); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#01ab45, #c7e800); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#01ab45, #c7e800); /* Standard syntax */
}

.grey {

}

.yellow {

  font-size: 0.8em;
}

.orange {

  font-size: 0.6em;
}
