<br>
<h2>1. Changing fxLayout attribite when resizing browser window - Row to Column</h2>
<div fxLayout="column"
	 class="container"
>
  <mat-card>
    <p>
      Header
    </p>
  </mat-card>

	<div fxLayout="column"
		 fxFlex="1 1 auto"
		 fxLayout.gt-sm="row"

	>
	  <mat-card fxFlex="12 1 70%">
	    <p>
	      During our time as researchers, we noticed that some QDAS are feature-rich but highly unintuitive, often requiring days or weeks just to get started (much less do anything).
	    </p>
	  </mat-card>

	  <mat-card fxFlexOrder="-1" fxFlex="1 1 15%">
	    <p>
	      Access anywhere & anytime - Share with collaborators seamlessly
	    </p>
	  </mat-card>

	  <mat-card fxFlex="1 1 15%">
	    <p>
	      Access anywhere & anytime - Share with collaborators seamlessly
	    </p>
	  </mat-card>
	 </div>

    <mat-card>
    <p>
      Footer
    </p>
  </mat-card>
</div>

<br><br>

<h2>2. Hide/Show column when resizing browser window</h2>
<div fxLayout="column"
	 class="container"

>
  <mat-card>
    <p>
      Header
    </p>
  </mat-card>

	<div fxLayout="row"
		 fxFlex="1 1 auto"
	>
	  <mat-card fxFlex="12 1 70%">
	    <p>
	      During our time as researchers, we noticed that some QDAS are feature-rich but highly unintuitive, often requiring days or weeks just to get started (much less do anything).
	    </p>
	  </mat-card>

	  <mat-card fxFlexOrder="-1" fxFlex="1 1 15%" fxHide fxHide.gt-xs="false">
	    <p>
	      Access anywhere & anytime
	    </p>
	  </mat-card>

	  <mat-card fxFlex="1 1 15%" fxHide fxHide.gt-sm="false">
	    <p>
	      Access anywhere & anytime
	    </p>
	  </mat-card>
	 </div>

    <mat-card>
    <p>
      Footer
    </p>
  </mat-card>
</div>

<br><br>

<h2>3. Change column width when resizing browser window</h2>
<div fxLayout="column"
	 class="container"

>
  <mat-card>
    <p>
      Header
    </p>
  </mat-card>

	<div fxLayout="row"
		 fxFlex="1 1 auto"
	>
	  <mat-card
	  fxFlex="12 1 70%"
	  fxFlex.lg="60%"
	  fxFlex.md="60%"
	  fxFlex.sm="50%"
	  fxFlex.xs="40%"
	  >
	    <p>
	      During our time as researchers, we noticed that some QDAS are feature-rich but highly unintuitive, often requiring days or weeks just to get started (much less do anything).
	    </p>
	  </mat-card>

	  <mat-card
	  fxFlexOrder="-1"
	  fxFlex="1 1 15%"
	  fxFlex.lg="20%"
	  fxFlex.md="20%"
	  fxFlex.sm="25%"
	  fxFlex.xs="30%"

	  >
	    <p>
	      Access anywhere & anytime - Share with collaborators seamlessly
	    </p>
	  </mat-card>

	  <mat-card
	  fxFlex="1 1 15%"
	  fxFlex.lg="20%"
	  fxFlex.md="20%"
	  fxFlex.sm="25%"
	  fxFlex.xs="30%"
	  >
	    <p>
	      Access anywhere & anytime - Share with collaborators seamlessly
	    </p>
	  </mat-card>
	 </div>

    <mat-card>
    <p>
      Footer
    </p>
  </mat-card>
</div>


<br><br>

<h2>4. Toggle different class when resizing browser window</h2>
<div fxLayout="column"
	 class="container"

>
  <mat-card>
    <p>
      Header
    </p>
  </mat-card>

	<div fxLayout="row"
		 fxFlex="1 1 auto"
	>
	  <mat-card
	  fxFlex="12 1 50%"

	  >
	    <p
        ngClass.md="grey"
        ngClass.sm="yellow"
        ngClass.xs="orange"
      >
	      During our time as researchers, we noticed that some QDAS are feature-rich but highly unintuitive,
        often requiring days or weeks just to get started (much less do anything).
	    </p>
	  </mat-card>

	  <mat-card fxFlexOrder="-1" fxFlex="1 1 25%">
	    <p
        ngClass.md="grey"
        ngClass.sm="yellow"
        ngClass.xs="orange"
      >
	      Access anywhere & anytime - Share with collaborators seamlessly
	    </p>
	  </mat-card>

	  <mat-card fxFlex="1 1 25%">
	    <p
        ngClass.md="grey"
        ngClass.sm="yellow"
        ngClass.xs="orange"
      >
	      Access anywhere & anytime - Share with collaborators seamlessly
	    </p>
	  </mat-card>
	 </div>

    <mat-card>
    <p>
      Footer
    </p>
  </mat-card>
</div>
