<!--
  ***** ROWS - CONTENT LEFT HORIZONTALLY, TOP VERTICALLY *****
-->

<h2>Left Horizontal - Top Vertical</h2>

<div fxLayout="row"
     fxLayoutAlign="start start"
     class="container"
>
  <mat-card>
    <p>
      1
    </p>
  </mat-card>
  <mat-card>
    <p>
      2
    </p>
  </mat-card>
  <mat-card>
    <p>
      3
    </p>
  </mat-card>
  <mat-card>
    <p>
      4
    </p>
  </mat-card>
</div>

<!--
  ***** ROWS - CONTENT RIGHT HORIZONTALLY, TOP VERTICALLY *****
-->

<h2>Right Horizontal - Top Vertical</h2>

<div fxLayout="row"
     fxLayoutAlign="end start"
     class="container"
>
  <mat-card>
    <p>
      1
    </p>
  </mat-card>
  <mat-card>
    <p>
      2
    </p>
  </mat-card>
  <mat-card>
    <p>
      3
    </p>
  </mat-card>
  <mat-card>
    <p>
      4
    </p>
  </mat-card>
</div>

<!--
  ***** ROWS - CONTENT LEFT HORIZONTALLY, BOTTOM VERTICALLY *****
-->

<h2>Left Horizontal - Bottom Vertical</h2>

<div fxLayout="row"
     fxLayoutAlign="start end"
     class="container"
>
  <mat-card>
    <p>
      1
    </p>
  </mat-card>
  <mat-card>
    <p>
      2
    </p>
  </mat-card>
  <mat-card>
    <p>
      3
    </p>
  </mat-card>
  <mat-card>
    <p>
      4
    </p>
  </mat-card>
</div>

<!--
  ***** ROWS - CONTENT RIGHT HORIZONTALLY, BOTTOM VERTICALLY *****
-->

<h2>Right Horizontal - Bottom Vertical</h2>

<div fxLayout="row"
     fxLayoutAlign="end end"
     class="container"
>
  <mat-card>
    <p>
      1
    </p>
  </mat-card>
  <mat-card>
    <p>
      2
    </p>
  </mat-card>
  <mat-card>
    <p>
      3
    </p>
  </mat-card>
  <mat-card>
    <p>
      4
    </p>
  </mat-card>
</div>

<!--
  ***** ROWS - CONTENT CENTER HORIZONTALLY, TOP VERTICALLY *****
-->

<h2>Center Horizontal - Top Vertical</h2>

<div fxLayout="row"
     fxLayoutAlign="center start"
     class="container"
>
  <mat-card>
    <p>
      1
    </p>
  </mat-card>
  <mat-card>
    <p>
      2
    </p>
  </mat-card>
  <mat-card>
    <p>
      3
    </p>
  </mat-card>
  <mat-card>
    <p>
      4
    </p>
  </mat-card>
</div>

<!--
  ***** ROWS - CONTENT CENTER HORIZONTALLY, BOTTOM VERTICALLY *****
-->

<h2>Center Horizontal - Bottom Vertical</h2>

<div fxLayout="row"
     fxLayoutAlign="center end"
     class="container"
>
  <mat-card>
    <p>
      1
    </p>
  </mat-card>
  <mat-card>
    <p>
      2
    </p>
  </mat-card>
  <mat-card>
    <p>
      3
    </p>
  </mat-card>
  <mat-card>
    <p>
      4
    </p>
  </mat-card>
</div>

<!--
  ***** ROWS - CONTENT CENTER HORIZONTALLY, CENTER VERTICALLY *****
-->

<h2>Center Horizontal - Center Vertical</h2>

<div fxLayout="row"
     fxLayoutAlign="center center"
     class="container"
>
  <mat-card>
    <p>
      1
    </p>
  </mat-card>
  <mat-card>
    <p>
      2
    </p>
  </mat-card>
  <mat-card>
    <p>
      3
    </p>
  </mat-card>
  <mat-card>
    <p>
      4
    </p>
  </mat-card>
</div>

<!--
  ***** ROWS - SPACE AROUND *****
-->

<h2>Space Around</h2>

<div fxLayout="row"
     fxLayoutAlign="space-around start"
     class="container"
>
  <mat-card>
    <p>
      1
    </p>
  </mat-card>
  <mat-card>
    <p>
      2
    </p>
  </mat-card>
  <mat-card>
    <p>
      3
    </p>
  </mat-card>
  <mat-card>
    <p>
      4
    </p>
  </mat-card>
</div>

<!--
  ***** ROWS - SPACE Between *****
-->

<h2>Space Between</h2>

<div fxLayout="row"
     fxLayoutAlign="space-between start"
     class="container"
>
  <mat-card>
    <p>
      1
    </p>
  </mat-card>
  <mat-card>
    <p>
      2
    </p>
  </mat-card>
  <mat-card>
    <p>
      3
    </p>
  </mat-card>
  <mat-card>
    <p>
      4
    </p>
  </mat-card>
</div>

<!-- NOTE: columns work exactly the same as above - you just switch the order of fxLayoutAlign
        (the main and cross axis changes -->

<!-- TODO: note in video that columns are exactly the same you just switch the order of fxLayoutAlign and say which is main axis and which is cross axis-->

<!--
  ***** STRETCH *****
-->

<!-- NOTE for videos - remember to point out here (and ref api docs) that stretch only applies to cross axis (2nd for
          rows), and space-around or space between only applies to main axis
    Stretch is the default based on flexbox documentation
    Stretch will make everything within that div stretch to fit it, whether it is another layout container or any other
      item or element.

-->

<h2>Stretch Horizontally - Row Inside Column</h2>

<!--first let's make a div (in this case a column) of fixed size

-->
<div fxLayout="column"
     class="container-blue"
     fxLayoutAlign="start stretch"
>
  <!--now let's make a row that has no size (unlike the previous ones)
        that will stretch (based on above) horizontally-->

  <div fxLayout="row"
       class="container-no-size"
  >
    <mat-card>
      <p>
        1
      </p>
    </mat-card>
    <mat-card>
      <p>
        2
      </p>
    </mat-card>
    <mat-card>
      <p>
        3
      </p>
    </mat-card>
    <mat-card>
      <p>
        4
      </p>
    </mat-card>
  </div>
</div>

<h2>Stretch Vertically - Row Inside Row</h2>

<!--  -->

<div fxLayout="row"
     class="container-blue"
     fxLayoutAlign="start stretch"
>
  <!--now let's make a row that has no size that will stretch vertically-->

  <div fxLayout="row"
       class="container-no-size"
  >
    <mat-card>
      <p>
        1
      </p>
    </mat-card>
    <mat-card>
      <p>
        2
      </p>
    </mat-card>
    <mat-card>
      <p>
        3
      </p>
    </mat-card>
    <mat-card>
      <p>
        4
      </p>
    </mat-card>
  </div>
</div>

<h2>Stretch Vertically - Column Inside Row</h2>

<!--  -->

<div fxLayout="row"
     class="container-blue"
     fxLayoutAlign="start stretch"
>
  <!--now let's make a row that has no size that will stretch vertically-->

  <div fxLayout="column"
       class="container-no-size"
  >
    <mat-card>
      <p>
        1
      </p>
    </mat-card>
    <mat-card>
      <p>
        2
      </p>
    </mat-card>
    <mat-card>
      <p>
        3
      </p>
    </mat-card>
    <mat-card>
      <p>
        4
      </p>
    </mat-card>
  </div>
</div>

<h2>Stretch Horizontally - Column Inside Column</h2>

<!--  -->

<div fxLayout="column"
     class="container-blue"
     fxLayoutAlign="start stretch"
>
  <!--now let's make a row that has no size that will stretch vertically-->

  <div fxLayout="column"
       class="container-no-size"
  >
    <mat-card>
      <p>
        1
      </p>
    </mat-card>
    <mat-card>
      <p>
        2
      </p>
    </mat-card>
    <mat-card>
      <p>
        3
      </p>
    </mat-card>
    <mat-card>
      <p>
        4
      </p>
    </mat-card>
  </div>
</div>
