h2 {
  margin: 1em 0 .5em .5em;
}

mat-card {
  height: 100px;
}

.container {
  height: 250px;
  margin: 0;
  padding: 0;
  background: #01ab45; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#01ab45, #c7e800); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#01ab45, #c7e800); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#01ab45, #c7e800); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#01ab45, #c7e800); /* Standard syntax */
}

.container-no-size {
  margin: 0;
  padding: 0;
  background: #01ab45; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#01ab45, #c7e800); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#01ab45, #c7e800); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#01ab45, #c7e800); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#01ab45, #c7e800); /* Standard syntax */
}

.container-blue {
  height: 500px;
  width: 100%;
  background: blue;
}

.row-stretch mat-card {
  height: 400px;
}

