<div fxLayout="column"
		 class="container"

>
  <mat-card>
    <p>
      Header
    </p>
  </mat-card>
	
	<div fxLayout="row"
			 fxFlex="1 1 auto"
	>
	  <mat-card fxFlex="12 1 auto">
	    <p>
	      During our time as researchers, we noticed that some QDAS are feature-rich but highly unintuitive, often requiring days or weeks just to get started (much less do anything). Others are more intuitive but so clunky and lacking in features that they’re unusable. Many of the researchers that we interviewed said they ended up doing analyses by hand out of sheer frustration with all QDAS!
	    </p>
	  </mat-card>

	  <mat-card fxFlexOrder="-1" fxFlex="1 1 auto">
	    <p>
	      Access anywhere & anytime - Share with collaborators seamlessly - No versions and nothing to update, ever
	    </p>
	  </mat-card>

	  <mat-card fxFlex="1 1 auto">
	    <p>
	      Access anywhere & anytime - Share with collaborators seamlessly - No versions and nothing to update, ever
	    </p>
	  </mat-card>
	 </div>

    <mat-card>
    <p>
      Footer
    </p>
  </mat-card>
</div>